@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Products</h1>
<p>
    List of products are followed:
    <ul>
        <li>LAPTOP</li>
        <li>TABLET</li>
        <li>DESKTOP</li>
    </ul>
</p>